body {
    background-color: azure;
}
html {
    text-align: center;
    font-family: monospace;
}

#calc {
    display: flex;
    min-height: 95vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 50vh;
    overflow: hidden;
    background-color: azure;
}

#container {
    background-color: black;
    border: 20px solid rgba(47,47,47,1);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
    gap: 2px;
}

#display {
    grid-column: 1/ -1;
    background-color: #b2b9b7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 5px;
    font-size: 3em;
    font-weight: initial;
    text-shadow: 1.3px 1.3px #383838;
    word-wrap: break-word;
    word-break: break-all;
}

button {
    margin: 1px;
    border-radius: 5%;
    border: none;
    font-weight: initial;
    font-size: 2em;
    font-family: monospace;
    color: black;
}

#zero {
    grid-column: span 2;
}

.operator {
    background-color: #6a5acd;
}

.operator:focus {
    background-color: #ac99ff;
}

.equals {
    background-color: #ff8f1f;
}

.equals:active {
    background-color: #ffc183;
}

.operand {
    background-color: #91a2b1;
}

.operand:active {
    background-color: #33b9bb;
}

.decimal {
    background-color: #91a2b1;
}

.decimal:active {
    background-color: #33b9bb;
}

.clear {
    background-color: #91a2b1;
}

.clear:active {
    background-color: #33b9bb;
}

.sign {
    background-color: #91a2b1;
    grid-column: span 2;
}

.sign:active {
    background-color: #33b9bb;
}

/*.percent {
    background-color: dodgerblue;
}

/*.percent:active {
    background-color: rgb(123, 189, 255);
}
